<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- <h1>Welcome to the Nursery</h1> -->
     
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand text-success" href="#">Plants Nursery
          <!-- <img src="https://images.freecreatives.com/wp-content/uploads/2016/04/Garden-Plants-Logo.jpg" class="logo"/> -->
        </a>
        <button class="navbar-toggler nav-icon" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-link active text-success" href="#sectionHome">Home <span class="sr-only">(current)</span></a>
                <a class="nav-link text-success" href="#sectionShop">Shop</a>
                <a class="nav-link text-success" href="#sectionCategories">Categories</a>
                <a class="nav-link text-success" href="#">Offers & discounts</a>
                <a class="nav-link text-success" href="#aboutSection">About Us</a>
                <a class="nav-link text-success" href="#">Contact Us</a>
                <a class="nav-link text-success" href="#">Chatbot Assistance</a>
                <a href="/logout" class="nav-link text-success text-decoration-none ">Logout</a>
            </div>
        </div>
    </nav>

    <div id="homeSection">
        <div class="body-container">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1>Helping You Create Beautiful Landscapes & Gardens</h1>
                    </div>
                    <div class="col-12 text-center">
                        <p>Your One-Stop Shop For All Your Home & Garden Needs.</p>
                    </div>
                    <div class="col-12 text-center">
                        <button class="btn btn-success mr-5">Visit our Nursery</button>
                        <button class="btn btn-primary">Shop Online</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="shopSection">
       <div class="container">
      <div class="row">
        <div class="col-12">
            <h1>Shop plants

            </h1>
        </div>
        <div class="col-6 col-md-4">
          <div class="card-1 mb-2">
           <img src="http://img.crocdn.co.uk/images/products2/pl/20/00/02/72/pl2000027236.jpg?width=940&height=940" class="image"/>
           <p class="plant-name">Spider</p>
           <p class="price">price-100/-</p>
           <div>
            <button class="btn btn-primary">Shop Now</button>
            <button class="btn btn-warning" onclick="addToCart('spider')">Add to cart</button>
           </div>
          </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="card-1 mb-2">
             <img src="https://tse2.mm.bing.net/th?id=OIP.Hgebs80MnKDuBjU_giiGpwHaE8&pid=Api&P=0&h=180" class="image"/>
             <p class="plant-name">Rose plant</p>
             <p class="price">price-100/-</p>
             <div>
              <button class="btn btn-primary">Shop Now</button>
              <button class="btn btn-warning" onclick="addToCart('rose plant')">Add to cart</button>
             </div>
            </div>
          </div>
          <div class="col-6 col-md-4">
            <div class="card-1 mb-2">
             <img src="https://tse4.mm.bing.net/th?id=OIP.7T_5xZ8SpIP2v6kjjajsHgHaHa&pid=Api&P=0&h=180" class="image"/>
             <p class="plant-name">Tulip</p>
             <p class="price">price-100/-</p>
             <div>
              <button class="btn btn-primary">Shop Now</button>
              <button class="btn btn-warning" onclick="addToCart('tulip')">Add to cart</button>
             </div>
            </div>
          </div>
          <div class="col-6 col-md-4">
            <div class="card-1 mb-2">
             <img src="https://tse3.mm.bing.net/th?id=OIP.TB99NIg00XRq2U5PWVf52AHaHa&pid=Api&P=0&h=180" class="image"/>
             <p class="plant-name">Peace lilly</p>
             <p class="price">price-100/-</p>
             <div>
              <button class="btn btn-primary">Shop Now</button>
              <button class="btn btn-warning" onclick="addToCart('peace lilly')">Add to cart</button>
             </div>
            </div>
          </div>
          <div class="col-6 col-md-4">
            <div class="card-1 mb-2">
             <img src="https://tse3.mm.bing.net/th?id=OIP.c_Fcu2VS-QHWMloVNwMhlQHaJ4&pid=Api&P=0&h=180" class="image"/>
             <p class="plant-name">Aloe vera</p>
             <p class="price">price-100/-</p>
             <div>
              <button class="btn btn-primary">Shop Now</button>
              <button class="btn btn-warning" onclick="addToCart('aloe vera')">Add to cart</button>
             </div>
            </div>

          </div>
          <div class="col-6 col-md-4">
            <div class="card-1 mb-2">
             <img src="https://tse4.mm.bing.net/th?id=OIP.N-6VergdVF1u-CbkR1xy6QAAAA&pid=Api&P=0&h=180" class="image"/>
             <p class="plant-name">Chrysanthemum</p>
             <p class="price">price-100/-</p>
             <div>
              <button class="btn btn-primary">Shop Now</button>
              <button class="btn btn-warning" onclick="addToCart('Chrysanthemum')">Add to cart</button>
             </div>
            </div>
          </div>
          <div class="col-6 col-md-4">
            <div class="card-1 mb-2">
             <img src="https://tse2.mm.bing.net/th?id=OIP.N36uN1mVUUtZzUPsMCmIBgHaHa&pid=Api&P=0&h=180" class="image"/>
             <p class="plant-name">Marigold</p>
             <p class="price">price-100/-</p>
             <div>
              <button class="btn btn-primary">Shop Now</button>
              <button class="btn btn-warning" onclick="addToCart('Marigold')">Add to cart</button>
             </div>
            </div>
          </div>
          <div class="col-6 col-md-4">
            <div class="card-1 mb-2">
             <img src="https://tse1.mm.bing.net/th?id=OIP.ch5D1eesShmgbU6aYPe1OQHaHQ&pid=Api&P=0&h=180" class="image"/>
             <p class="plant-name">Zinnia</p>
             <p class="price">price-100/-</p>
             <div>
              <button class="btn btn-primary">Shop Now</button>
              <button class="btn btn-warning" onclick="addToCart('Zinnia')">Add to cart</button>
             </div>
            </div>
          </div>
          <div class="col-6 col-md-4">
            <div class="card-1 mb-2">
             <img src="https://tse1.mm.bing.net/th?id=OIP.AuJAgl3R7aSlgUp1vJ_m0gHaLu&pid=Api&P=0&h=180" class="image"/>
             <p class="plant-name">Pancy</p>
             <p class="price">price-100/-</p>
             <div>
              <button class="btn btn-primary">Shop Now</button>
              <button class="btn btn-warning" onclick="addToCart('pancy')">Add to cart</button>
             </div>
            </div>
          </div>
      </div>
       </div>
    </div>
    <div id="aboutSection">
       <div class="container">
       <div class="row">
         <div class="col-12">
          <div class="mt-5">
            <h1>About Us</h1>
            <p>Welcome to Online Nursery Website, your one-stop destination for all things green! We are passionate about bringing nature closer to you with a wide range of indoor and outdoor plants, vibrant flowers, air-purifying greens, and medicinal herbs. Whether you’re a gardening enthusiast or a beginner, we provide high-quality plants, seeds, planters, and essential gardening tools to help you create a thriving green space.Our mission is to promote sustainable living by making gardening easy, accessible, and enjoyable. With doorstep delivery and expert care tips, we ensure that every plant finds a happy home. Start your journey towards a greener, healthier lifestyle with us today!</p>
          </div>
         
         </div>
       </div>
       </div>
    </div>

     <!-- <a href="/logout">Logout</a> -->
   <script src="/js/script.js"></script> 
</body>
</html>
<!-- <div class="product"> 
  <% products.forEach(product => { %>
 <div class="product">
   <img src="<%= product.image %>" alt="<%= product.name %>">
   <p><%= product.name %> - $<%= product.price %></p>
   <button onclick="addToCart('<%= product.name %>')">Add to Cart</button>
 </div>
<% }) %>
</div>  -->